.blue_btn {
    background-color: var(--primary_color) !important;
    color: var(--white);
}

.button {
    padding: 6px 20px;
    border-radius: 5px;
    border: 1px solid var(--primary_color);
}

.stroke_btn {
    background-color: var(--white);
    color: var(--primary_text);
}

.fullWidthBtn {
    padding: 12px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}